.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

.ticket {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 576px) {
    flex-wrap: nowrap;
  }
}

.poster {
  z-index: 1;
  flex: 1 0 auto;

  @media (min-width: 576px) {
    max-height: 200px;
  }
}

.backdrop {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.2;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.card {
  z-index: 1;
}
